p Depuis sa création en 1973, l'activité principale de l'association ASC II est la pratique du volley-ball et accessoirement quelques sorties culturelles.
br
blockquote
    p Elle est ouverte à la mixité (jusqu'à ce jour il y a toujours eu des adhérentes).
    br
    p Pour être adhérent, outre le fait de devoir être parrainé, il faut avoir au minimum 18 ans et un niveau satisfaisant dans la pratique du volley-ball. Chaque nouvelle adhésion est jugée par les anciens adhérents ou le bureau.
    br
    p L'entrainement a lieu tous les vendredis. L'ASC II est obligée de se limiter à une quinzaine d'adhérents. Le volley-ball pratiqué est de bon niveau mais volontairement dans le cadre d'une activité loisir (sans compétitions, à part quelques rencontres amicales).
    br
    small Ouahcene Ourahmoune